.main{
    max-width: 80rem;
    margin: 120px auto 0;
    color: #ffffff;
}
.itemWrap{
    display: grid;
    place-items: center;
}
.aboutNickname{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 40px 0 16px;

}
.aboutName{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 16px 0;

}
.aboutDesc{
    text-align: center;
}
.imagesOutline{
    background: linear-gradient(331.93deg, #1D222E 11.88%, #293140 85.18%);
    mix-blend-mode: normal;
    box-shadow: -10px -10px 20px rgba(57, 66, 83, 0.35), 10px 10px 20px rgba(24, 28, 39, 0.35);
    border-radius: 100px;
    .img{
        background: linear-gradient(331.93deg, #1D222E 11.88%, #293140 85.18%);
        box-shadow: -10px -10px 20px rgba(57, 66, 83, 0.35), 10px 10px 20px rgba(24, 28, 39, 0.35);
        border-radius: 100px;
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}