.topButton{
    position: fixed;
    right: 10%;
    bottom: 32%;
    width: 3rem;
    height: 3rem;
    background: linear-gradient(331.93deg, #1D222E 11.88%, #293140 85.18%);
    mix-blend-mode: normal;
    border: 2px solid rgba(29, 34, 46, 0.1);
    box-shadow: -10px -10px 20px rgba(57, 66, 83, 0.35), 10px 10px 20px rgba(24, 28, 39, 0.35);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        width: 2.0rem;
    }
}