html{
    font-family: 'Quicksand';
}
body{
    background-color: #2A3140;
}


// 後でmodule化
.searchBtn{
    box-sizing: border-box;
    background: linear-gradient(47.94deg, #2C3341 19.6%, #313949 77.32%);
    border: 2px solid rgba(49, 57, 73, 0.5);
    box-shadow: -10px -10px 20px rgba(72, 80, 99, 0.26), 10px 10px 20px #262C37;
    padding: 14px 24px;
}
.inputOutline{
    background: #313949;
    border: 1px solid #313949;
    box-shadow: inset -5px -5px 10px rgba(64, 75, 95, 0.25), inset 5px 5px 10px #2C3341;
    border-radius: 12px 0px 0px 12px;
}
.wrap{
    max-width: 1120px;
    margin: 0 auto;
}
.card{
    background: linear-gradient(47.94deg, #2C3341 19.6%, #313949 77.32%);
    border: 2px solid rgba(49, 57, 73, 0.5);
    box-shadow: -10px -10px 20px rgba(72, 80, 99, 0.26), 10px 10px 20px #262C37;
    border-radius: 12px;
    height: fit-content;
}
.ellipsis{
    width: 94%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category{
    background: linear-gradient(45.33deg, #2C3341 15.46%, #313949 72.37%);
    border: 2px solid rgba(49, 57, 73, 0.5);
    box-shadow: -10px -10px 20px rgba(72, 80, 99, 0.26), 10px 10px 20px #262C37;
    border-radius: 8px;
    width: fit-content;
}